<div class="photo-container">

  <div class="edit-main">

    <div class="photos-header">
      <%= link_to image_tag('free-resource.jpg' , width: '100%', height: '100vh'), "/" %>
      <h2 class="under">クリックでトップ画面に戻ります</h2>
    </div>
  
    <h2 class="photos-title">画像の情報を入力</h2>
    <%= form_with model: @photo, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"photos-image" %>
      </div>
    </div>

    <div class="new-photos">
      <div class="weight-bold-text">
        写真のタイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"photos-text", id:"photo-name", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>

      <div class="photos-explain">
        <div class="weight-bold-text">
          写真のポイント
          <span class="any">任意</span>
        </div>
        <%= f.text_area :explanation, class:"photos-text", id:"photo-info", placeholder:"撮影した時のポイント（任意 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="photos-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カメラ
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:camera_id, Camera.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          レンズ
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:lenz_id, Lenz.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          レンズタイプ
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:lenz_type_id, LenzType.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          ISO感度
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:iso_speed_id, IsoSpeed.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          露光時間
          <span class="any">任意</span>
        </div>
        <%= f.text_field :exposure_time, class:"field-box" ,id:"exposure-time", placeholder:"露光時間" %>
        <div class="weight-bold-text">
          絞り
          <span class="any">任意</span>
        </div>
        <%= f.text_field :aperture, class:"field-box" ,id:"aperture", placeholder:"絞り値" %>
        <div class="weight-bold-text">
          焦点距離
          <span class="any">任意</span>
        </div>
        <%= f.text_field :focal, class:"field-box" ,id:"focal", placeholder:"焦点距離" %>
        <div class="weight-bold-text">
          ホワイトバランス
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:white_balance_id, WhiteBalance.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          フラッシュ
          <span class="any">任意</span>
        </div>
        <%= f.collection_select(:flash_id, Flash.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          撮影地
          <span class="any">任意</span>
        </div>
        <%= f.text_field :shooting_place, class:"field-box" ,id:"shooting-place", placeholder:"撮影した場所" %>
      </div>
    </div>
    
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        また、投稿をもちまして
        <a href="#">利用規約</a>
        に同意したことになります。
      </p>
    </div>

    <div class="photo-btn-contents">
      <%= f.submit "変更する" ,class:"photo-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  
  <% end %>

    <footer class="photos-footer">
      <ul class="menu">
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">フリマ利用規約</a></li>
      </ul>
      <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
      <%= link_to image_tag('free-resource.jpg' , width: '100%', height: '100vh'), "/" %>
      <p class="inc">
        ©︎Photo-Chat,Inc.
      </p>
    </footer>
  </div>
</div>

<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>
